### Импортируем библиотеки

In [354]:
from IPython.display import display
import pandas as pd
import numpy as np

### Загрузим данные о категориях и просто данные

#### О категориях

In [355]:
categories_df = pd.read_csv("categories.csv", sep=",")

#### Сырые данные

In [356]:
data = pd.read_csv("data.csv", sep=";")

### Проанализруем данные

#### О категориях

In [357]:
display(categories_df.head())
print('Размер')
display(categories_df.shape)
print('Пропушенные значения')
display(categories_df['id'].isna().sum())

     id  parent_id                                 name
0  2891        NaN                            Продукция
1  4047     2891.0                            Коллекции
2  4058     4047.0                      «Зеленая» серия
3  4050     4058.0                    Товары из бамбука
4  4053     4058.0  Товары из переработанных материалов

Размер

(510, 3)

Пропушенные значения

0

Видим,что нет пропущенных индексов.

#### Сырые данные

In [358]:
print('Начало датасета')
display(data.head())
print('Конец датасета')
display(data.tail())
print('Размер')
display(data.shape)
print('Колонки')
display(data.columns)
print('Пропушенные значения')
display(data['id'].isna().sum())

Начало датасета

,id,url,currencyid,shortname,name,vendorcode,price,description,categoryid,rating,dealerPrice,weight,color,material,prodsize,qtypics,picssize,applicMetod,fullCategories
0,8096.0,https://www.oasiscatalog.com/item/1-000003472,RUB,Фонарик Lyra,"Фонарик Lyra с карабином, синий",10418201,145.0,Компактный карманный фонарик с прочным карабин...,2930.0,5.0,101.5,NaN,синий,алюминий,d1 х 6,NaN,NaN,Тампопечать,"['2891', '2892', '2930']"
1,8097.0,https://www.oasiscatalog.com/item/1-000003476,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418400,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,черный/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
2,8098.0,https://www.oasiscatalog.com/item/1-000003477,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418401,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,синий/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
3,8099.0,https://www.oasiscatalog.com/item/1-000003478,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418402,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,5.0,149.1,NaN,красный/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
4,8100.0,https://www.oasiscatalog.com/item/1-000003479,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418403,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."

Конец датасета

,id,url,currencyid,shortname,name,vendorcode,price,description,categoryid,rating,dealerPrice,weight,color,material,prodsize,qtypics,picssize,applicMetod,fullCategories
18530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Размер

(18535, 19)

Колонки

Index(['id', 'url', 'currencyid', 'shortname', 'name', 'vendorcode', 'price',
       'description', 'categoryid', 'rating', 'dealerPrice', 'weight', 'color',
       'material', 'prodsize', 'qtypics', 'picssize', 'applicMetod',
       'fullCategories'],
      dtype='object')

Пропушенные значения

8630

Видим, что присутствкет много пропущенных значений.

##### Убираем пропуски id

In [359]:
data = data.dropna(subset=['id'])

Проверяяем

In [360]:
display(data['id'].isna().sum())

0

##### Убираем остальные пропуски, где это необходимо

Также по таблице:

| Ключ      | Название столбца | Тип данных        | Обяз. | Комментарии                                                      |
|-----------|-------------------|-------------------|-------|-------------------------------------------------------------------|
| Первичный | ID               | Bigint(20)        | Да    | Суррогатный первичный ключ                                       |
|           | URL              | Varchar(100)      | Да    | Ссылка на товар в оазисе, чтобы выгружать картинку.              |
|           | ShortName        | Varchar(150)      | Да    | Краткое наименование                                             |
|           | Name             | Varchar(200)      | Да    | Полное наименование сувенира                                     |
|           | Description      | Varchar(2500)     | Да    | Описание сувенира                                                |
|           | Rating           | Smallint(6)       | Да    | Популярность сувенира                                            |
| Внешний   | IdCategory       | Bigint(20)        | Да    | Вторичный ключ к таблице SouvenirsCategories                     |
| Внешний   | IdColor          | Bigint(20)        | Да    | Тип сувенира Colors                                              |
|           | Size             | Varchar(150)      | Да    | Размер сувенира                                                  |
|           | IdMaterial       | Int(11)           | Да    | Вторичный ключ к таблице SouvenirMaterials                       |
| Внешний   | Weight           | Decimal(10,3)     | Нет   | Вес сувенира                                                     |
|           | QTypics          | Varchar(10)       | Нет   | Количество встроенных элементов (Например, страниц в блокноте)   |
|           | PicsSize         | Varchar(20)       | Нет   | Размер встроенного элемента (например, размер картинки в рамке)  |
| Внешний   | IdApplicMetod    | Int(11)           | Да    | Вторичный ключ в таблице ApplicationMetods                       |
|           | AllCategories    | Varchar(150)      | Да    | Полный путь по категориям                                        |
|           | DealerPrice      | Decimal(10,2)     | Да    | Цена для партнеров                                               |
|           | Price            | Decimal(10,2)     | Да    | Цена                                                              |
|           | Comments         | Varchar(1000)     | Нет   | Комментарий к сувениру                                           |

Есть столбцы, которые не могут оставаться пустыми. Удалим отсутствующие значения для таких столбцов.

Для этого посмотрим на общее количество пропустков.

In [361]:
display(data.isna().sum())

id                   0
url                  0
currencyid           0
shortname            0
name                 0
vendorcode           0
price                0
description        661
categoryid           0
rating               1
dealerPrice          0
weight            4767
color               38
material            65
prodsize          4380
qtypics           9905
picssize          9905
applicMetod       2273
fullCategories       0
dtype: int64

Убираем пропуски, где необходимо.

In [362]:
data = data.dropna(subset=['description', 'color', 'material', 'applicMetod', 'rating', 'prodsize'])

In [363]:
display(data[['description', 'color', 'material', 'applicMetod', 'rating', 'prodsize']].isna().sum())

description    0
color          0
material       0
applicMetod    0
rating         0
prodsize       0
dtype: int64

### Разбиваем данные

#### Таблица Colors

In [364]:
colors = data['color'].unique()

colors_df = pd.DataFrame({
        'id': range(1, len(colors) + 1),
        'name': colors 
    }
)

print('Размер датасета')
display(colors_df.shape)
print('Начало датасета')
display(colors_df.head())

Размер датасета

(631, 2)

Начало датасета

   id                 name
0   1                синий
1   2   черный/серебристый
2   3    синий/серебристый
3   4  красный/серебристый
4   5          серебристый

##### Создаем CSV файл для таблицы Colors

In [365]:
colors_df.to_csv('./normalized_datasets/colors_dataset.csv', sep=';', index=False)

#### Таблица SouvenirMaterials

In [366]:
materials = data['material'].unique()

materials_df = pd.DataFrame({
        'id': range(1, len(materials) + 1),
        'name': materials 
    }
)

print('Размер датасета')
display(materials_df.shape)
print('Начало датасета')
display(materials_df.head())

Размер датасета

(457, 2)

Начало датасета

   id                     name
0   1                 алюминий
1   2                   металл
2   3              АБС пластик
3   4  алюминий/металл/силикон
4   5         пластик/алюминий

##### Создаем CSV файл для таблицы SouvenirMaterials

In [367]:
materials_df.to_csv('./normalized_datasets/materials_dataset.csv', sep=';', index=False)

#### Таблица ApplicationMethods

In [368]:
appmethods = data['applicMetod'].unique()

appmethods_df = pd.DataFrame({
        'id': range(1, len(appmethods) + 1),
        'name': appmethods 
    }
)

print('Размер датасета')
display(appmethods_df.shape)
print('Начало датасета')
display(appmethods_df.head())

Размер датасета

(17, 2)

Начало датасета

   id                 name
0   1          Тампопечать
1   2  Гравировка круговая
2   3           Гравировка
3   4        Металлостикер
4   5       Шильд спектрум

##### Создаем CSV файл для таблицы ApplicationMethods

In [369]:
appmethods_df.to_csv('./normalized_datasets/appmethods_dataset.csv', sep=';', index=False)

#### Таблица SouvenirCategories

##### Переименовываем столбцы в соответствии с базой данных

In [370]:
categories_df = categories_df.rename(columns={'parent_id': 'idparent'})

##### Меняем тип столбцов

In [371]:
categories_df['idparent'] = categories_df['idparent'].fillna(0).astype(int)

##### Создаем CSV файл для таблицы SouvenirCategories

In [372]:
categories_df.to_csv('./normalized_datasets/categories_dataset.csv', sep=';', index=False)

#### Таблица Souvenirs

In [373]:
souvenirs_df = data.copy()

In [374]:
souvenirs_df.head()

,id,url,currencyid,shortname,name,vendorcode,price,description,categoryid,rating,dealerPrice,weight,color,material,prodsize,qtypics,picssize,applicMetod,fullCategories
0,8096.0,https://www.oasiscatalog.com/item/1-000003472,RUB,Фонарик Lyra,"Фонарик Lyra с карабином, синий",10418201,145.0,Компактный карманный фонарик с прочным карабин...,2930.0,5.0,101.5,NaN,синий,алюминий,d1 х 6,NaN,NaN,Тампопечать,"['2891', '2892', '2930']"
1,8097.0,https://www.oasiscatalog.com/item/1-000003476,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418400,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,черный/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
2,8098.0,https://www.oasiscatalog.com/item/1-000003477,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418401,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,синий/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
3,8099.0,https://www.oasiscatalog.com/item/1-000003478,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418402,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,5.0,149.1,NaN,красный/серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."
4,8100.0,https://www.oasiscatalog.com/item/1-000003479,RUB,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",10418403,213.0,Брелок-фонарик с функцией открывалки – функцио...,2930.0,0.0,149.1,NaN,серебристый,металл,"d2,3 х 6,3",NaN,NaN,Гравировка круговая,"['2891', '2892', '2930', '2953', '2972', '2974..."

##### Объединение с таблицей Colors

In [375]:
merged_df = souvenirs_df.merge(colors_df, left_on='color', right_on='name')
souvenirs_df = souvenirs_df.assign(idcolor=list(merged_df['id_y']))
souvenirs_df = souvenirs_df.drop(columns=['color'])

##### Объединение с таблицей SouvenirMaterials

In [376]:
merged_df = souvenirs_df.merge(materials_df, left_on='material', right_on='name')
souvenirs_df = souvenirs_df.assign(idmaterial=list(merged_df['id_y']))
souvenirs_df = souvenirs_df.drop(columns=['material'])

##### Объединение с таблицей ApplicationMethods

In [377]:
merged_df = souvenirs_df.merge(appmethods_df, left_on='applicMetod', right_on='name')
souvenirs_df = souvenirs_df.assign(idapplicmethod=list(merged_df['id_y']))
souvenirs_df = souvenirs_df.drop(columns=['applicMetod'])

##### Переименовываем столбцы

In [378]:
souvenirs_df = souvenirs_df.rename(columns={'categoryid': 'idcategory'})
souvenirs_df = souvenirs_df.rename(columns={'fullCategories': 'allcategories'})
souvenirs_df = souvenirs_df.rename(columns={'dealerPrice': 'dealerprice'})
souvenirs_df = souvenirs_df.rename(columns={'prodsize': 'size'})

##### Удаляем ненужные столбцы

In [379]:
souvenirs_df = souvenirs_df.drop(columns=['currencyid', 'vendorcode'])

##### Меняем типы данных

In [380]:
souvenirs_df['id'] = souvenirs_df['id'].astype(int)
souvenirs_df['rating'] = souvenirs_df['rating'].astype(int)
souvenirs_df['idcategory'] = souvenirs_df['idcategory'].astype(int)
souvenirs_df['price'] = souvenirs_df['price'].astype(float)
souvenirs_df['dealerprice'] = souvenirs_df['dealerprice'].astype(float)
souvenirs_df['idcolor'] = souvenirs_df['idcolor'].astype(int)
souvenirs_df['idmaterial'] = souvenirs_df['idmaterial'].astype(int)
souvenirs_df['idapplicmethod'] = souvenirs_df['idapplicmethod'].astype(int)

##### Добавим отсутствующий столбец comments

In [381]:
souvenirs_df['comments'] = np.nan

In [382]:
souvenirs_df.isna().sum()

id                   0
url                  0
shortname            0
name                 0
price                0
description          0
idcategory           0
rating               0
dealerprice          0
weight            2205
size                 0
qtypics           3993
picssize          3993
allcategories        0
idcolor              0
idmaterial           0
idapplicmethod       0
comments          3993
dtype: int64

##### Поменяем порядок столбцов

In [383]:
new_order = ['id', 'url', 'shortname', 'name', 'description', 'rating', 'idcategory', 'idcolor', 'size', 'idmaterial', 'weight', 'qtypics', 'picssize', 'idapplicmethod', 'allcategories', 'dealerprice', 'price', 'comments']
souvenirs_df = souvenirs_df[new_order]

In [384]:
souvenirs_df.head(3)

,id,url,shortname,name,description,rating,idcategory,idcolor,size,idmaterial,weight,qtypics,picssize,idapplicmethod,allcategories,dealerprice,price,comments
0,8096,https://www.oasiscatalog.com/item/1-000003472,Фонарик Lyra,"Фонарик Lyra с карабином, синий",Компактный карманный фонарик с прочным карабин...,5,2930,1,d1 х 6,1,NaN,NaN,NaN,1,"['2891', '2892', '2930']",101.5,145.0,NaN
1,8097,https://www.oasiscatalog.com/item/1-000003476,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",Брелок-фонарик с функцией открывалки – функцио...,0,2930,2,"d2,3 х 6,3",2,NaN,NaN,NaN,2,"['2891', '2892', '2930', '2953', '2972', '2974...",149.1,213.0,NaN
2,8098,https://www.oasiscatalog.com/item/1-000003477,Брелок-фонарик Lobster,"Брелок-фонарик Lobster с функцией открывалки, ...",Брелок-фонарик с функцией открывалки – функцио...,0,2930,3,"d2,3 х 6,3",2,NaN,NaN,NaN,2,"['2891', '2892', '2930', '2953', '2972', '2974...",149.1,213.0,NaN

##### Создаем CSV файл для таблицы Souvenirs

In [385]:
souvenirs_df.to_csv('./normalized_datasets/souvenirs_dataset.csv', sep=';', index=False)